h1 {
	font-family: 'Quattrocento', serif;
  font-size:72px;
  color:grey;
}
h2{
  font-family: 'Quattrocento', serif;
  font-size:32px;
  color: pink;
  
  
}

ol {
	font-family: 'Sarabun', sans-serif;
  color:purple;
}
